build --cxxopt=-Wno-unused-function
build --cxxopt=-Werror=unused-result
build --cxxopt=-Werror=attributes
build --cxxopt=-Winline
build --cxxopt=--std=c++17
build --crosstool_top=@llvm_toolchain//:toolchain
